<div id="pins" class="transitions-enabled">
      <% @pins.each do |pin| %>
		<%= render partial: 'pins/pin_detail', locals: {pin: pin} %>
     <% end %>
</div>
<div class="text-center">
	<%= paginate @pins, theme: 'twitter-bootstrap-3', :pagination_class => pagination_class %>
</div>
