<div class="col-xs-14">
	<div class="panel panel-default">
		<div class="panel-body">
			<% if @pins.present? && @pins.count > 0 %>
	 			<h5><%=@current_user.name%></h5>
 				<p>Find below the most <b>popular</b> restaurants of your <%= current_user.follows.count %> friend(s).</p>
			<% else %>
				<p>You haven't any friends added yet. <u><%= link_to "Add friends", users_path %></u> to see their popular restaurants.</p>
			<% end %>
		</div>
	</div>
<div class="center">
	<%= render partial: 'pins/show_pin_details' %>
</div>
