<div class="col-xs-14">
<% if @pins.present? && @pins.count > 0 %>
<p>Find below the favorite FoodSpots of your friends.</p>

<% else %>
<p>Find below the favorite FoodSpots of your friends.</p>

<% end %>
<%= render partial: 'pins/show_pin_details' %>
</div>
