<div class="col-xs-14">
<div class="center">
<% if @pins.present? && @pins.count > 0 %>
 <p>Find below the list of your <b>friends' favorite</b> FoodSpots.</p>
<% else %>
<p>You haven't any friends added yet. <u><%= link_to "Add friends", users_path %></u></p>

<% end %>
</div>
<%= render partial: 'pins/show_pin_details' %>
</div>
