<div class="col-xs-14">
<div class="center">
<% if @pins.present? && @pins.count > 0 %>
 <p>Find below the list of most <b>Popular</b> restaurants of your friends.</p>
<% else %>
<p>You haven't any friends added yet. <u><%= link_to "Add friends", users_path %></u> to see their popular restaurants.</p>
<% end %>
</div>
<%= render partial: 'pins/show_pin_details' %>
</div>
