<div class="col-xs-14">
  <h3>Like restaurants</h3>
  <div class="panel panel-default pinindexpanel">
    <p>Let us help you to easily find your avorite restaurant.</p>
    <div class="btn btn-add btn-icon ask_location">Find restaurants nearby</div>
    <br></br>
 
  	<%= form_tag(search_pins_path, method: :get, class: "navbar-form navbar-left pin-search-form") do %>
  	          <div class="form-group">
  	            <%= text_field_tag 'search', params[:search], class: "form-control", placeholder: "[enter restaurant name]", autofocus: true %>
  	          </div>
  	          <%= submit_tag "Search in our database", class: "btn btn-add btn-icon" %>
  	        <% end %>
</div>

<%= render 'pins/show_pin_details' %>

</div>

