<h2>My restaurants (<%= current_user.find_liked_items.size %>)</h2>

<% if current_user.find_liked_items.size > 0 %>

<%= render 'pins/show_pin_details' %>  

<% else %>
	<p> You haven't added any restaurants yet, start now with addinng some restaurants to your favorite list here. </p>
<% end %>

<%= link_to pins_path, class: "btn btn-default btn-block" do %>
	<span class="glyphicon glyphicon-chevron-right"></span>
	Add restaurants to your list
<% end %></p>






