 <%# This is not shown at the moment %>

<div class="col-xs-14">
	<div class="center">
	 <p>Find below the <b>most popular</b> FoodSpots in town.</p>
	</div>
	<%= render 'pins/show_pin_details', locals: {current_user: current_user} %>
</div>



