<div class="col-xs-14">
<h3>FoodSpots nearby</h3>
<div class="panel panel-default">
Check out the nearest FoodSpots.
</div>
	<%= hidden_field_tag 'sort_by', 'distance' %>
	<%= render 'pins/show_pin_details', locals: {current_user: current_user} %>
</div>

