<div class="col-xs-14">
	<div class="center">
		<%= form_tag(search_path, method: :get, class: "navbar-form pin-search-form") do %>
          <div class="form-group">
            <%= text_field_tag 'search', params[:search], class: "form-control-search", placeholder: "[restaurant name]", autofocus: true %>
          <%= submit_tag "Search", class: "btn btn-default-search" %>
        <% end %>
        </div>
</div>
	<%= render 'pins/show_pin_details', locals: {current_user: current_user} %>
</div>

