<div class="col-xs-12">
<h3>Add restaurants</h3>
<%= link_to new_pin_path, class: "btn btn-default btn-block" do %>
<span class="glyphicon glyphicon-chevron-right"></span>
Add new restaurant
<% end %></p>
	Add some of the <b><%= @pins.total_count %></h2></b> restaurants on Friends4food.
	<%= hidden_field_tag 'sort_by', 'distance' %>
      <%= render 'pins/show_pin_details' %>
</div>

