<div class="col-xs-12">
<h3>Add restaurants</h3>
	Add some of the <b><%= @pins.total_count %></h2></b> restaurants on Friends4food.
	<%= hidden_field_tag 'sort_by', 'distance' %>
</div>
<%= render 'pins/show_pin_details' %>