<div class="col-xs-14">
	<%= link_to feeds_path, class: "btn btn-default" do %>
	Friends favorites
	<% end %> 

	<%= link_to search_nearest_pins_path, class: "btn btn-default-enabled" do %>
	Nearby FoodSpots
	<% end %>   

	<%= render 'pins/show_pin_details', locals: {current_user: current_user} %>
</div>

