<% if current_user && current_user != user %>
  	<% if current_user.following?(user) %>
   	 		<button type="button" class="btn btn-success">
             Friend
             </button>
             <%= link_to "Remove", user_unfollow_path(user), :method => :delete, data: { disable_with: "Please wait..." }, :class => "btn btn-default btn-xs btn-link", :remote => true %> 
  	<% else %>
    <%= link_to "Add", user_follow_path(user), :method => :post, data: { disable_with: "Please wait..." }, :class => "btn btn-default", :remote => true %>
	<% end %>
<% end %>