<% user = local_assigns.has_key?(:user) ? user : nil %>
<% if user %>
  <div class="panel-body">
    <div class="actions">
       <h3><%= link_to user.name, user_path(user) %></h3>
      <div class="avatar">
        <%= link_to image_tag(user.photo_url + '&width=160&height=160'), user %>
      </div>
      <div>
        <p>Liked <b><%= user.find_liked_items.size %></b> restaurants</p>
      </div>

      <div class="btn-group">
          <%= render :partial => 'users/follow_unfollow_btn', :locals => {:user => user} %>
      </div>
    </div>
  </div>
<% end %>

