<div class="col-xs-14">
<h3>Your Friends' FoodSpots</h3>
<% if @pins.present? && @pins.count > 0 %>
<p>Find below the favorite FoodSpots of your friends.</p>

<% else %>
<p>First add some friends!</p>

<% end %>
<%= render partial: 'pins/show_pin_details' %>
</div>

