<div class="col-xs-14">

<% else %>

<%= link_to feeds_path, class: "btn btn-default-enabled" do %>
Friends favorites
<% end %> 

<%= link_to search_nearest_pins_path, class: "btn btn-default" do %>
Nearby FoodSpots
<% end %>   

<% if @pins.present? && @pins.count > 0 %>

<% else %>
<p>You haven't any friends added yet. <u><%= link_to "Add friends", users_path %></u></p>

<% end %>

<%= render partial: 'pins/show_pin_details' %>
</div>

