<div class="col-xs-14">
<h3>Your Friends' FoodSpots</h3>
<% if @pins.present? && @pins.count > 0 %>
<p>Find below the favorite FoodSpots of your friends.</p>

<% else %>
<p>Add some friends to discover their FoodSpots!</p>

<%= link_to users_path, class: "btn btn-add btn-icon" do %>
Add friends
<% end %>


<% end %>
<%= render partial: 'pins/show_pin_details' %>
</div>

