<h3>My suggested restaurants</h3>
<%= link_to search_nearest_pins_path, class: "btn btn-default btn-block" do %>
<span class="glyphicon glyphicon-chevron-right"></span>
Like restaurants
<% end %>
Your friends have liked <b><%= current_user.follows.count%></b> restaurants.
<% if @pins.present? && @pins.to_a.size > 0 %>
<%= render 'pins/show_pin_details' %>       
<% else %>
	<p> You haven't added any friends yet or your friends haven't added any restaurants. Add some (more) friends to see their favorite restaurants. </p>
<% end %>

