<div class="col-xs-14">
<h3>Favorite Hotspots of my friends</h3>
<p>Your friends have liked <span><%= @pins.count %></span> HotSpots.</p>

<% if @pins.present? && @pins.count > 0 %>
<p>
<%= link_to pins_path, class: "btn btn-add btn-icon" do %>
Add HotSpots
<% end %>
</p>  

<% else %>
<p>
<%= link_to users_path, class: "btn btn-add btn-icon" do %>
Add friends to discover new HotSpots
<% end %>
</p>

<% end %>

<%= render 'pins/show_pin_details' %>  
</div>

