<div class="col-xs-14">
    <div class="panel panel-default">
    <div class="panel-body">
    <h5>You <span class="glyphicon glyphicon-heart"></span> <%= @current_user.find_liked_items.size %> restaurants</h5>
    <p>Love some more, so you friends know where to go!</p>
          <div class="search">
          <%= form_tag(search_path, method: :get, class: "navbar-form pin-search-form") do %>
              <div class="form-group">
                <%= text_field_tag 'search', params[:search], class: "form-control input-sm", placeholder: "Search restaurant", autofocus: true %>
                <%= submit_tag "Search", class: "btn btn-CTA btn-sm" %>
              </div>
          <% end %>
          </div>
    </div>
    </div>
    


