<div class="col-xs-14">
	<h3>Add friends</h3>	
        <p><u>Tip</u>: Invite your Facebook contacts.<%= share_snippet %></p>
    <div id="pins" class="transitions-enabled friends">
      <% @user.each do |user| %>
        <div class="box panel panel-default" id = "user_<%= user.id %>">
            <%= render :partial => 'users/user', :locals => {:user => user} %>
        </div>
        <% end %>
    </div>
 </div>




