<div class="col-xs-14">
        <p>Cannot find your friends? Send an invite<%= share_snippet %></p>
    <div id="pins" class="transitions-enabled friends">
      <% @user.each do |user| %>
        <div class="box panel panel-default" id = "user_<%= user.id %>">
            <%= render :partial => 'users/user', :locals => {:user => user} %>
        </div>
        <% end %>
    </div>
 </div>




