<div class="col-xs-14">
	<h3>Add friends</h3>
	<div class="panel panel-default">
<p>Add your friends and discover their favorite flavor.</p>

<%= share_snippet %> <u>Tip</u>: invite your Facebook friends to join HotSpots.me as well.
	</div>
    <div id="pins" class="transitions-enabled">
      <% @user.each do |user| %>
        <div class="box panel panel-default" id = "user_<%= user.id %>">
            <%= render :partial => 'users/user', :locals => {:user => user} %>
        </div>
        <% end %>
    </div>
 </div>




