<div class="col-xs-14">
<div class="center">
 <p>Find below a list of your friends. Click <u><%= link_to "here", users_path %></u> to add some more.</p>
</div>
    <div id="pins" class="transitions-enabled friends">
            <% current_user.followings.each do |user| %>
                <div class="box panel panel-default" id = "user_<%= user.id %>">
                <%= render :partial => 'users/user', :locals => {:user => user} %>
                </div>
            <% end %>
    </div>

</div>







 



