<div class="col-xs-14">
<h3>My friends</h3>
<%= link_to users_path, class: "btn btn-default btn-block" do %>
<span class="glyphicon glyphicon-chevron-right"></span>
Add friends
<% end %></p>
Find below your <b><%= current_user.follows.count %></b> friends. 
   <% if @followings.present? && @followings.size > 0 %>
        <div id="pins" class="transitions-enabled">
                <% @followings.each do |user| %>
                    <div class="box panel panel-default" id = "user_<%= user.id %>">
                    <%= render :partial => 'users/user', :locals => {:user => user} %>
                    </div>
                <% end %>
        </div>
    <% else %>
        <p> You haven't added any friends yet, add your friends or invite them to join Friends4Food. </p>
    <% end %> 
</div>






 



