 <div class="col-xs-14">
 <p>Find below your favorite FoodSpots. <u>Tip: <%= link_to "Add FoodSpots", search_nearest_pins_path %></u></p>
	 <%= render partial: 'pins/show_pin_details' %>
 </div>


