 <div class="col-xs-14">
 <h3>My FoodSpots</h3>
 <div class="panel panel-default">

 <% if @pins.count > 0 %>
 <p>You have <%= @pins.count %> FoodSpots.</p>
 <p>
 <%= link_to search_nearest_pins_path, class: "btn btn-add btn-icon ask_location" do %>
 Add FoodSpots
 <% end %>
 </p>  

 <% else %>
 <p>You haven't added any FoodSpots. Add them now!</p>
 <p>
 <%= link_to search_nearest_pins_path, class: "btn btn-add btn-icon ask_location" do %>
Add FoodSpots
 <% end %>
 </p>  
 <% end %>
 </div>

	 <%= render partial: 'pins/show_pin_details' %>
 </div>


