 <div class="col-xs-14">
 <div class="center">
 <p>Find below the list of <b>your</b> FoodSpots. <u><%= link_to "Add more", pins_path %></u></p></p>
</div>
	 <%= render partial: 'pins/show_pin_details' %>
 </div>


