 <div class="col-xs-14">
 <h3><%= link_to image_tag(@user.image_file_name), @user %><%= @user.name %>' favorite HotSpots</h3>
 <div class="panel panel-default">
   <div class="panel-body">
    <p>
    <%= link_to my_recently_visited_path, class: "btn btn-add btn-icon" do %>
    View your recently visited HotSpots
    <% end %>
    </p>  
     </div>
     </div>

 <% @user.find_liked_items.each do |pin| %>
   <%= render 'pins/show_pin_details' %>  
 <% end %>

  
  </div>


