<div class="col-xs-14">
 	<div class="center">
<% if @user.recent_visits.size > 0 %>
<p>Find below the restaurants you have recently visited.</p>
<% @user.recent_visits.each do |v| %>
    <span class="list-group-item">
      <span class="glyphicon glyphicon-pushpin" style="color: black;"></span>
      <%= link_to pin_path(v.pin) do %><%= v.pin.name %><% end %> - Last checkin: <%= l v.created_at, format: :short %>
    </span>
  <% end %>

</div>

<% else %>
<p>Click <%= link_to "here", "https://itunes.apple.com/nl/app/foodspots.me/id1035358443?l=en&mt=8" %>
	to download our app and track your recently visited restaurants.</p>
</div>
<% end %>
