<div class="col-xs-14">
<div class="center">
<% if @user.recent_visits.size > 0 %>
<p>Find below the restaurants you have recently visited.</p>
</div>

<div id="pins" class="transitions-enabled">
<% @user.recent_visits.each do |v| %>
    		<%= render partial: 'pins/pin_detail', locals: {pin: v} %>
         <% end %>

</div>
<% else %>
<div class="center">
<p>Click <u>here</u> to download our app and track your recently visited restaurants.</p>
</div>

<% end %>
</div>


