<div class="col-xs-14">
<h3>My recently visited FoodSpots</h3>
<div class="panel panel-default">
<p>You have visisted xxx FoodSpots this week.</p>
<p>
  <%= link_to app_path, class: "btn btn-add btn-icon" do %>
  <u>Coming Soon:</u> Download our mobile app and view your visited FoodSpots
  <% end %>
  </p>  
</div>

<% @user.recent_visits.each do |v| %>
    <span class="list-group-item">
      <span class="glyphicon glyphicon-pushpin" style="color: black;"></span>
      <%= link_to pin_path(v.pin) do %><%= v.pin.name %><% end %> - Last checkin: <%= l v.created_at, format: :short %>
    </span>
  <% end %>

</div>
