 <div class="col-xs-14">
 <h3><%= @user.name %>' favorite FoodSpots</h3>
 <div class="panel panel-default">
 <p>View the favorite FoodSpots of <%= @user.name %>.</p>
 
 <div id="follow_unfollow_btn" class="btn_margin">
   <%= render :partial => 'follow_unfollow_btn', :locals => {:user => @user} %>
 </div>
</div>
	 <%= render 'pins/show_pin_details' %>

 </div>