<div class="col-xs-14">
<h3><%= link_to image_tag(@user.image_file_name), @user %><%= @user.name %>' favorite HotSpots</h3>
<div class="panel panel-default">
  <div class="panel-body">
   
    <div id="follow_unfollow_btn" class="btn_margin">
      <%= render :partial => 'follow_unfollow_btn', :locals => {:user => @user} %>
    </div>
    </div>
    </div>

    <% @user.find_liked_items.each do |pin| %>
      <%= render 'pins/show_pin_details' %>  
    <% end %>

 
 </div>