<% content_for(:bodyclass, 'login')%>
<div class="row">
	<div class="col-md-10 col-md-push-1">
		<div class="panel panel-default loginpanel">
			<div class="panel-body loginnote">
			<h3>Welcome to Foodspots</h3>
			<p>We will help you find the best Foodspots of this moment, based on the opinion of your friends.</p>
			<br></br>
			<h3>How does it work? </h3>
			  <ol>
				<li>Connect to the plaform with Facebook. In this way we can load your firend connections to the platform</li>
				<li>Share you location with us. This allows us to give you better directions to the restaurants</li>
				<li>Start exploring your friends favourite flavours and start sharing yours!</li>
			  </ol>
			  <br></br>
			  <h3>Start now!</h3>
			  <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-lg btn-social btn-facebook" do %>
			  <span class="glyphicon glyphicon-play"></span>
			  Connect with Facebook
			  <% end %>
			  <br/><br/>
			  <b>Note:</b> FoodSpots.me will <u>never</u> post messages on your Facebook wall.
			  </div>
		</div>
	</div>
</div>

 