<div class="panel panel-default">
  <div class="panel-heading">
     <div class="panel-title">
      <h2>Discover your favorite restaurants</h2>
      </div>
       <div class="panel-heading">
       Sign in and discover the favorite restaurants of your friends in town.
    </div>
            <div class="panel-body">
                      <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-lg btn-social btn-facebook" do %>
                      <span class="glyphicon glyphicon-play"></span>
                      Log in with Facebook
                      <% end %>
                      <br/><br/>
                  <b>Note:</b> Friends4food will <u>never post messages</u> on your Facebook wall.
            </div>
            </div>   
            </div> 
            <div class="panel panel-default">
            <div class="panel-title">
            <div class="panel-heading">
            <b>On Friends4food you can:</b>
            <div class="panel-body">
                <p><span class="glyphicon glyphicon-check"></span>            
                Save your favorite restaurants
                </p>
                <p><span class="glyphicon glyphicon-check"></span>
                Discover your friends' favorites
                </p>
                <p><span class="glyphicon glyphicon-check"></span>            
                Find nearby restaurants 
                </p>
                <p><span class="glyphicon glyphicon-check"></span>   
                And see route details
                </p>   
            </div>
  
 </div>