<p>Hi <%= @user.name %>,</p>

<p>Thank your for joining Friends4Food! You can now start creating your personal profile with your favorite restaurants in town.

<b>Where are you waiting for?</b> Add the restaurants you have visited to your profile so your friends can view your favorites!

<p>Bon apetit!</p>

<p>Friends4Food</p>