<div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='15'></td></tr>
                <tr>
                  <td style='border: 1px solid #1B4252; border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
                    <table width="480" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr><td height='25'></td></tr>
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: center;'>
                              <h2 style="font-size: 20px;">Hi <% @user.name %>, welcome to FoodSpots.me. </h2>
                              <br>
                              <p>You can now start discovering the favorite restaurants of your friends. Go to <u><%= link_to "FoodSpots.me", root_path %></u> and you will find a list of the most favorite restaurants of your friends. Also, you will receive a weekly update with the popular restaurants of your friends. </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='24'></td></tr>
                    </table>
                  </td>
                </tr>
              </table>  
            </div>

            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='40' colspan="3"></td></tr>
                <tr>
<!-- =============== END BODY =============== -->
