@font-face {
  font-family: 'MontserratLight';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat-Light'), font-url('Montserrat-Light.otf') format('opentype');
}
@font-face {
  font-family: 'MontserratHairline';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat-Hairline'), font-url('Montserrat-Hairline.otf') format('opentype');
}
@font-face {
  font-family: 'MontserratUltraLight';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat-UltraLight'), font-url('Montserrat-UltraLight.otf') format('opentype');
}

@font-face {
  font-family: 'MontserratRegular';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), local('Montserrat-Regular'), font-url('Montserrat-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'MontserratSemibold';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat-Semibold'), local('Montserrat-Semibold'), font-url('Montserrat-Semibold.otf') format('opentype');
}
@font-face {
  font-family: 'MontserratBold';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), local('Montserrat-Bold'), font-url('Montserrat-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'MontserratExtraBold';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat-ExtraBold'), local('Montserrat-ExtraBold'), font-url('Montserrat-ExtraBold.otf') format('opentype');
}
@font-face {
  font-family: 'MontserratBlack';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Black'), local('Montserrat-Black'), font-url('Montserrat-Black.otf') format('opentype');
}