$font-ultra-light: 'MontserratUltraLight';
$font-hairline: 'MontserratHairline';
$font-light: 'MontserratLight';
$font-normal: 'MontserratRegular';
$font-semi-bold: 'MontserratSemibold';
$font-bold: 'MontserratBold';
$font-extra-bold: 'MontserratExtraBold';
$font-black: 'MontserratBlack';

.margin-auto{
  margin: auto;
  float: none;
}

.infoboard {
  margin-top: -2rem;
}

.infoboard__container{
  background: image-url('header.png');
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}

.infoboard__cover{
  padding-bottom: 70px;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  // background: rgba(0,0,0,0.65);
}

.infoboard__title{
  font-family: $font-light;
  color: rgba(255,255,255,0.9);
  font-weight: 600;
  font-size: 4rem;
  padding-top: 30px;
  margin-bottom: 0;
}

.infoboard__title-question{
  font-family: $font-ultra-light;
  color: rgba(255,255,255,0.9);
  font-weight: 300;
  font-size: 2.8rem;
}

.infoboard__points{
  text-align: center;
  min-height: 100px
}

.infoboard__points-number{
  height: 30px;
  width: 30px;
  border: 2px solid rgba(255,255,255,0.9);
  border-radius: 100%;
  color: rgba(255,255,255,0.9);
  font-weight: 600;
  font-size: 1.8rem
}

.infoboard__points-title{
  font-family: $font-light;
  color: rgba(255,255,255,0.9);
  font-size: 2.2rem;
  font-weight: 600;
  padding-top: 10px;
  line-height: 25px
}

.infoboard__points-description{
  font-family: $font-ultra-light;
  color: rgba(255,255,255,0.9);
  font-size: 1.6rem;
  font-weight: 300;
  padding-top: 10px
}

.infoboard__points-column{
  padding: 0 50px
}

.tiles {
  text-align: center;
}

.tiles__title {
  font-family: $font-normal;
  font-size: 2.2rem;
  font-weight: 700;
  padding-top: 45px;
  color: black
}

.tiles__container{
  min-height: 500px;
  margin-top: 50px
}

.tiles__spotTile{
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-bottom: 40px
}

.tiles__spotTile-cover{
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(black, transparent ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, transparent ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, transparent ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, transparent ); /* Standard syntax */
}

.tiles__spotTile-background{
  height: 200px;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
}

.tiles__spotTile-name{
  font-family: $font-light;
  color: white;
  font-weight: 600;
  position: relative;
  font-size: 2.3rem;
  margin-bottom: 0;
  padding-top: 8px
}

.tiles__spotTile-location{
  font-family: $font-ultra-light;
  color: white;
  font-weight: 300;
  position: relative;
  font-size: 1.5rem
}