body {
  font-family: 'Open Sans',Helvetica;
  color:#1b4252;
  background-color: rgba(240, 240, 240, 0.75);

  &.login {
    background-image: asset_url('FoodSpots.jpg');
    background-size: cover;

    .loginnote {
      color: white;
    }

    .loginpanel{
      padding: 20px;
      background-color: rgba(27, 66, 82, 0.75);
    }
  }

  .pin-search-form {
    padding-left: 10;
    margin-top: -10px;

    input {
      border-radius: 2px;
    }
  }

  nav.navbar-default {
    background: #1b4252;
    border:none;
    border-radius:0px;
    a.navbar-brand {
      color: #ddb360;
    }
  }

  .logocontainer{
    max-width: 70%;
    #logo{
      font-size: 46px;
      font-weight: bold;
      color: #ddb360;
      //float:right;

      span{
        font-weight: normal;
        color: white;
      }
    }
  }

  .panel-default {
    background-color: rgba(27, 66, 82, 0.15);
    border: 1px dotted #1b4252;
    box-shadow: none;
  

    h3, h3 a, h3 a:hover {
      color: #1b4252;
      margin-top: 0px;
    }

    h1, h1 a, h1 a:hover {
      color: #DDB360;
      font-size: 18px;
      margin-top: 0px;
    }

    .likedby {
      font-size: 14px;
      font-weight: bold;
      color: #1b4252;
      margin-top: 35px;
      span {
        color: #0088a2;
      }

    }

    .friends {
      a:first-of-type {
        padding-right: 6px;
      }
    }

    .btn-like, .btn-liked, .btn-view {
      width: 200px;
    }
  }

  .btn{
    border-radius: 0px;
    color:white;
  }


  .btn-like, .btn-like:active {
    background: #DDB360;
    background-image: image-url('like.png');

   &:hover {
     font-weight: bold;
     background-color: #1b4252;
     color: #ffffff;
     font-weight: bold;
    }

  }

  .btn-liked, .btn-liked:active {
    background-color: #1b4252;
    background-image: image-url('like.png');
  }

  .btn-view, .btn-view:active {
    background-color: #1b4252;
    background-image: image-url('like.png');
  }

  .btn-add, .btn-add:active {
    background-color: #009245;
    background-image: image-url('add.png');
  }

  .btn-remove, .btn-remove:active {
    background-color: #1b4252;
    background-image: image-url('remove.png');
  }


  .btn-icon,.btn-icon:active, .btn-icon:hover, .btn-icon:active:hover{
    background-position: center left !important;
    background-repeat: no-repeat !important;
    border-left: 2px solid transparent !important;
    background-size: 30px !important;
    padding-left:32px;
  }

  .btn-add {
    @media screen and (max-width: 530px) {
      width: 100%;
    }
    @media screen and (min-width: 530px) {
      width: 500px;
    }
  }


  .friendspanel{
    width:400px;
    .avatar{
      float:left;
      margin-right:10px;
      margin-bottom:10px;

      img{
        width:110px;
        height:auto;
      }
    }
    .btn-group {
      margin-top:10px;
      .btn {
        margin-right: 10px;
      }
    }
  }

  .pagination>li:first-child>a, .pagination>li:first-child>span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0;
  }

  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color:  #DDB360;
    border-color: #DDB360;
  }

  .pagination > li > a, .pagination > li > span {
    color: #DDB360;
    background-color: #1b4252;
    border: 1px solid #1b4252;
  }

  .pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #DDB360;
    background-color: #1b4252;
    border-color: #1b4252;
  }

  .pinindexpanel {
    margin-bottom: 60px;
  }

  .btn-default {
    color: black;
  }
}

.friends {
  .panel h3 {
    height: 55px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
