body {
  font-family: 'Open Sans',Helvetica;
  color:#1b4252; 
  background-color: rgba(240, 240, 240, 0.5);

  &.login {
    
    background-size: cover;

    .loginnote {
    color:#1b4252; 
    }

    .loginpanel{
      padding: 10px;
      background-color: rgba(247, 247, 247, 0.7);
    }
  }

   h4, h4 a, h4 a:hover {
      font-size: 14px;
      color: #E97028;
      margin-top: 0px;
    }

    h5, h5 a, h5 a:hover {
      font-size: 18px;
      color: #E97028;
      margin-top: 0px;
    }
  }

  .logocontainer{
    width:85px;
    height:85px;
    @media (max-width: 992px) {
      height:55px;
    }
    }
  
  .no-padding {
    padding: 0px;
  }

  .no-padding-left {
    padding-left: 0px;
  }

  .user {
    padding-top: 17px;
    a {
      text-decoration: none;
      color: #ffffff;
    }

    .caret {
      margin-left: 10px;
    }
    .dropdown-menu {
      text-align: center;
      background: rgba(233, 112, 40, 1);
    }

    ul a:hover {
      background: rgba(0, 0, 1, 0.1);
    }
  }

  .panel-default {
    background-color: rgba(11, 26, 32, 0.1);
    border: 1px #76C190;
    box-shadow: none;
    padding: 10px;


    h3, h3 a, h3 a:hover {
      color: #1b4252;
      margin-top: 0px;
    }

    h1, h1 a, h1 a:hover {
      color: #1b4252;
      font-weight: bold;
      font-size: 18px;
      margin-top: 0px;
    }

    .likedby {
      font-size: 12px;
      font-weight: bold;
      color: #E97028;
      margin-top: 5px;
      span {
        color: #E97028;
      }

    }

    .friends {
      a:first-of-type {
        padding-right: 6px;
      }
    }

  
  }

  .div.center {

    width: 100%;
    text-align: center;
  }

  .friendspanel{
    width:400px;
    .avatar{
      float:center;
      margin-right:10px;
      margin-bottom:10px;

      img{
        width:10;
        height:auto;

      }
    }
    .btn-group {
      margin-top:10px;
      .btn {
        margin-right: 10px;
      }
    }
  }

  .pinindexpanel {
    margin-bottom: 60px;
  }

  .btn-default {
    color: black;
  }


.friends {
  .panel h3 {
    height: 55px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}