 .pagination>li:first-child>a, .pagination>li:first-child>span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 5;
  }

  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color:  #1b4252;
    border-color: #1b4252;
  }

  .pagination > li > a, .pagination > li > span {
    color: #1b4252;
    background-color: rgba(118, 193, 144, 0.65);
    border: 1px solid #76C190;
  }

  .pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #1b4252;
    background-color: rgba(118, 193, 144, 0.65);
    border-color: #76C190;
  }