// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pins {
  margin: 0 auto;
}

.box {
  margin: 10px;
  width: 240px;
}

.box img {
  width: 150px;
  height: 150px;
}

.show_back_btn {
  width: 6.667%;
}

.btn_margin {
  margin: 1px !important;
}

.pin_liked_image {
  height: 50px !important;
  width: 50px !important;
}

.panel-default-box-width {
  width: 300px;
}

.more_link_color {
  color: #FF7F50;
}