// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pins {
  margin: 0 auto;
}

.box {
  margin: 10px;
  width: 240px;
}

.box img {
  width: 200px;
  height: 200px;
}

.show_back_btn {
  width: 6.667%;
}

.btn_margin {
  margin: 1px !important;
}

.pin_liked_image {
  height: 50px !important;
  width: 50px !important;
}

.panel-default-box-width {
  width: 240px;
}

.more_link_color {
  color: #31B0D5;
}

.panel.pin h3 {
  min-height: 60px;
}

.panel.pin .friends {
  height: 50px;
  overflow: hidden;
}

.pin-img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center center;
}

.panel-default.pin {
  border-top: 1px dotted #1b4252;
  border-left: 1px dotted #1b4252;
  border-right: 1px dotted #1b4252;
}
