.search {
    .navbar-form{
      margin-top: 12px;
      .form-control {
        min-width: 280px;
        display: inline-block;
        margin-right: 10px;
        background-color: rgb(229, 225, 225);
        @media (max-width: 1200px) {
          min-width: 205px;
        }
      }
      }
      }

.mobile-search {
    height: 60px;
    background-color: #000000;
    padding:15px 0;
    }

.pin-search-form {
      padding-left: 10px;
      margin-top: -10px;

      input {
      border-radius: 5px;
      width: 250px;
      text-align: left;
}
}

  .form-control-search {
    border: 1px #1b4252;
    border-radius: 5px;
    height:30px;

  }