<div class="footer">
    <div class="footer__download">
        <span>FoodSpots ©</span>  
    </div>
      <ul class="list-inline footer__list">
        <li>Contact<span>|</span></li>
        <li><%= link_to "Add restaurant", new_pin_path %><span>|</span></li>
        <li><%= link_to "Download our app", "https://itunes.apple.com/nl/app/foodspots.me/id1035358443" %><span>|</span></li>
        <li>About</li>
      </ul>

</div>